/* Estilo padrão */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #fc01ca;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #fc01ca;
}

header {
  background-color: #fc01ca;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-container {
  padding: 20px;
}

#addColumnButton {
  background-color: #fc01ca;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#board {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.column {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column h3 {
  text-align: center;
  margin-bottom: 10px;
}

.task {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.task button {
  margin-top: 5px;
  background-color: #ff5252;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.task button:hover {
  background-color: #ff1c1c;
}

/* Estilo para o modo escuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode span,
body.dark-mode label,
body.dark-mode button {
  color: #ffffff; /* Garante que todos os elementos de texto fiquem claros */
}

body.dark-mode .board-container {
  background-color: #1e1e1e; /* Fundo da área do quadro */
}

body.dark-mode .column {
  background-color: #2a2a2a; /* Cor de fundo da coluna */
  border: 1px solid #444; /* Cor da borda da coluna */
}

body.dark-mode .task {
  background-color: #333; /* Cor de fundo da tarefa */
  border: 1px solid #444; /* Cor da borda da tarefa */
}

/* Cor do texto da tarefa */
body.dark-mode .task button {
  background-color: #ff5252;
  color: white;
}

body.dark-mode .task button:hover {
  background-color: #ff1c1c;
}

.theme-switch span {
  color: #ffffff; /* Cor do texto do label */
}
